
.App {
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100vw;
  transition: background-image 0.8s ease-in-out;
}

.top-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px; 
}

.name-input, .tag-input, .select-input {
  padding: 5px;
  font-size: 14px;
  border-color: gray;
}

.name-input {
  width: 200px;
  height: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

.tag-input {
  width: 100px;
  height: 25px;
  margin-right: 5px;
  border-radius: 5px;
}

.select-input {
  width: 200px;
}

.submit-button {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}