/* PlayerStats.css */

.Player-Stats {
  max-width: 100%;
  overflow-x: hidden;
}

.metric-charts-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  
}

.button-container {
  
}

.metric-button {
  
}

.chart-container {
  width: 45%; /* Adjust width as needed */
  height: 50vh; /* Ensure the container is tall enough */
  position: relative;
  margin: 0 auto;
  box-sizing: border-box; 
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 10px;
}